openapi: 3.1.0
info:
  title: Aiera Events API
  description: API for accessing events data from Aiera
  version: 1.0.0
servers:
  - url: https://premium.aiera.com/api
security:
  - ApiKeyAuth: []
paths:

  /equities-v2/sectors:
    get:
      operationId: get sectors and sub-sectors
      description: Retrieves sectors and subsectors
      summary: Retrieves a list of sectors along with their subsectors.
      security:
        - ApiKeyAuth: [] 
      responses:
        "200":
          description: An array of sector objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Sector"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
   
  /equities-v2: 
    get:  
      operationId: getEquities
      description: Retrieves a list of equities
      summary: Retrieves a list of equities
      security: 
        - ApiKeyAuth: []
      parameters:
        - name: bloomberg_ticker
          in: query
          required: true
          schema:
            type: string
          description:  Filter activities to 1+ bloomberg tickers always including country codes with colon (comma-separated).
        - name: isin
          in: query
          schema:
            type: string
          description: ISIN (International Securities Identification Number) of the equity.
        - name: ric
          in: query
          schema:
            type: string
          description: Reuters Instrument Code of the equity.
        - name: ticker
          in: query
          schema:
            type: string
          description: Local ticker of the equity.
        - name: permid
          in: query
          schema:
            type: string
          description: PermID of the equity.
        - name: sector_id
          in: query
          schema:
            type: integer
          description: ID of the sector.
        - name: subsector_id
          in: query
          schema:
            type: integer
          description: ID of the subsector.
        - name: search
          in: query
          schema:
            type: string
          description: Search term for equity names or tickers.
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number for pagination.
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
            maximum: 2500
            minimum: 10
          description: Number of records per page.
        - name: include_inactive
          in: query
          schema:
            type: boolean
          description: Whether to include inactive equities.
        - name: include_company_metadata
          in: query
          schema:
            type: boolean
            default: true

          description: Whether to include associated company metadata.
      responses:
        '200':
          description: A list of equities.
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Equity"
        default:
            description: unexpected error
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"

  /equities-v2/{equity_id}:
    get:
      operationId: get equity info by equity id
      description: Retrieves equities by equity id
      summary: Retrieves the appropriate equity by equity id.
      security:
        - ApiKeyAuth: [] 
      parameters:
        - name: equity_id
          in: path
          required: true
          schema:
            type: integer
          description: ID of the equity.
        - name: include_company_metadata=true
          in: query
          schema:
            type: boolean
            default: true
          description: Whether to include associated company metadata.
      responses:
        "200":
          description: An array of equity objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Equity"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  
  /equities-v2/{equity_id}/summary:
    get:
      operationId: getEquitySummary
      description: Retrieves a summary of an equity including basic information and events
      summary: Retrieves detailed information about an equity including past and upcoming events
      security:
        - ApiKeyAuth: []
      parameters:
        - name: equity_id
          in: path
          required: true
          schema:
            type: string
          description: ID of the equity or Bloomberg ticker with country code (e.g., AAPL:US)
      responses:
        "200":
          description: A detailed summary of the equity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EquitySummary"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
  schemas:
    Equity: 
      type: object
      properties:
        equity_id:
          type: integer
        bloomberg_ticker:
          type: string
        name:
          type: string
        common_name:
          type: string
        ticker:
          type: string
        local_ticker:
          type: string
        mic:
          type: string
        isin:
          type: string
        permid:
          type: string
        sectoy_id:
          type: integer
        gics_sector:
          type: string
        subsector_id:
          type: integer
        gics_sub_sector:
          type: string
        primary_equity:
          type: boolean
        created:  
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        status:   
          type: string
        company_metadata:
          type: object
          properties:
            company_id:
              type: integer
            company_name:
              type: string
            legal_name:
              type: string
            incorporated_country_code:
              type: string
            domiciled_country_code:
              type: string
            urls:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                  url_type:
                    type: string
              
    Pagination:
      type: object
      properties:
        total_count:
          type: integer
        current_page:
          type: integer
        total_pages:
          type: integer
        page_size:
          type: integer
        
    Sector:
      type: object
      properties:
        sector_id:
          type: integer
        gics_code:
          type: string
        name:
          type: string
        subsectors:
          type: array
          items:
            type: object
            properties:
              subsector_id:
                type: integer
              gics_code:
                type: string
              gics_industry_code: 
                type: string
              name:
                type: string

    EquitySummary:
      type: object
      properties:
        equity_id:
          type: integer
          description: The unique identifier for the equity
        name:
          type: string
          description: The full name of the equity
        common_name:
          type: string
          description: The common name of the equity
        local_ticker:
          type: string
          description: The local ticker symbol
        mic:
          type: string
          description: Market Identifier Code
        bloomberg_ticker:
          type: string
          description: The Bloomberg ticker symbol with country code
        isin:
          type: string
          description: International Securities Identification Number
        permid:
          type: string
          description: PermID of the equity
        gics_sector:
          type: string
          description: GICS sector name
        gics_sub_sector:
          type: string
          description: GICS sub-sector name
        description:
          type: string
          description: Company description
        company_url:
          type: string
          description: Company website URL
        ceo_name:
          type: string
          description: Name of the CEO
        country:
          type: string
          description: Country of the company
        estimated_next_earnings:
          type: string
          format: date-time
          nullable: true
          description: Estimated date of next earnings release
        created:
          type: string
          format: date-time
          description: When the equity record was created
        modified:
          type: string
          format: date-time
          nullable: true
          description: When the equity record was last modified
        status:
          type: string
          description: Status of the equity
        events:
          type: object
          description: Past and upcoming events for this equity
          properties:
            past:
              type: array
              description: Events that have already occurred
              items:
                $ref: "#/components/schemas/PastEvent"
            upcoming:
              type: array
              description: Events that are scheduled for the future
              items:
                $ref: "#/components/schemas/UpcomingEvent"
                
    PastEvent:
      type: object
      properties:
        event_id:
          type: integer
          description: Unique identifier for the event
        title:
          type: string
          description: Title of the event
        event_type:
          type: string
          description: Type of event (e.g., earnings, conference)
        event_date:
          type: string
          format: date-time
          description: Date and time of the event
        fiscal_quarter:
          type: string
          nullable: true
          description: Fiscal quarter related to the event
        fiscal_year:
          type: integer
          nullable: true
          description: Fiscal year related to the event
        conference_number:
          type: string
          nullable: true
          description: Conference call number
        conference_number_alt:
          type: string
          nullable: true
          description: Alternative conference call number
        conference_pin:
          type: string
          nullable: true
          description: Conference call PIN
        broadcast_url:
          type: string
          nullable: true
          description: URL for the broadcast
        replay_url:
          type: string
          nullable: true
          description: URL for the replay
        transcription_status:
          type: string
          description: Status of the transcription
        transcription_connected:
          type: string
          format: date-time
          nullable: true
          description: When transcription was connected
        transcription_disconnected:
          type: string
          format: date-time
          nullable: true
          description: When transcription was disconnected
        has_human_verified:
          type: boolean
          description: Whether the transcript has been human verified
        has_live_transcript:
          type: boolean
          description: Whether a live transcript is available
        has_audio:
          type: boolean
          description: Whether audio is available
        has_press_release:
          type: boolean
          description: Whether a press release is available
        has_slides:
          type: boolean
          description: Whether slides are available
        duplicate_of:
          type: integer
          nullable: true
          description: ID of the event this is a duplicate of
        created:
          type: string
          format: date-time
          description: When the event record was created
        modified:
          type: string
          format: date-time
          nullable: true
          description: When the event record was last modified
        price_data:
          type: object
          description: Price data related to the event
          properties:
            previous_day_close_price:
              type: number
              nullable: true
              description: Closing price on the previous day
            current_day_open_price:
              type: number
              nullable: true
              description: Opening price on the day of the event
            current_day_close_price:
              type: number
              nullable: true
              description: Closing price on the day of the event
            price_at_start:
              type: number
              nullable: true
              description: Price at the start of the event
            price_at_end:
              type: number
              nullable: true
              description: Price at the end of the event
            volume_at_start:
              type: number
              nullable: true
              description: Volume at the start of the event
            olume_at_end:
              type: number
              nullable: true
              description: Volume at the end of the event
        summary:
          type: object
          description: Summary of the event
          properties:
            title:
              type: string
              nullable: true
              description: Title of the summary
            content:
              type: object
              nullable: true
              description: Content of the summary

    UpcomingEvent:
      type: object
      properties:
        event_id:
          type: integer
          description: Unique identifier for the event
        title:
          type: string
          description: Title of the event
        event_type:
          type: string
          description: Type of event (e.g., earnings, conference)
        event_date:
          type: string
          format: date-time
          description: Date and time of the event
        fiscal_quarter:
          type: string
          nullable: true
          description: Fiscal quarter related to the event
        fiscal_year:
          type: integer
          nullable: true
          description: Fiscal year related to the event
        conference_number:
          type: string
          nullable: true
          description: Conference call number
        conference_number_alt:
          type: string
          nullable: true
          description: Alternative conference call number
        conference_pin:
          type: string
          nullable: true
          description: Conference call PIN
        broadcast_url:
          type: string
          nullable: true
          description: URL for the broadcast
        duplicate_of:
          type: integer
          nullable: true
          description: ID of the event this is a duplicate of
        created:
          type: string
          format: date-time
          description: When the event record was created
        modified:
          type: string
          format: date-time
          nullable: true
          description: When the event record was last modified

    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
